flight_sql_venv/
.env
kaggle_dataset/
ipynb_codes/
__pycache__
__pycache__/

.vscode
automatic_testing/
HackGpt/
TeamTalent/
db_qa_models

*.ipynb
images/
coral_leisure.zip
voices.zip
linkedinAutomation/
Socialmedia_poster/
dynamic_chunking/
BERT-Model-Benchmark-for-IMDB-Sentiment-Classification/
